<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Survey for Limena Customers">
    <meta name="author" content="Francisco Velasquez">
    <meta name="keywords" content="Distribuidora Limena">
    <!-- Title Page-->
    <title>@ViewBag.Title - Survey</title>



    @Html.Partial("~/Views/Shared/Styles.cshtml")
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="~/Content/images/icon/logolimena2.png" alt="CoolAdmin" />
                        </a>
                    </div>
                </div>
            </div>

        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/Content/images/icon/logolimena2.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">

            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- HEADER DESKTOP-->
        <!-- HEADER DESKTOP-->
        <!-- PAGE CONTAINER-->

        <div class="page-container">
            <!-- HEADER DESKTOP-->
            @RenderBody()
            <!-- HEADER DESKTOP-->

        </div>
    </div>
    @Html.Partial("~/Views/Shared/Scripts.cshtml")

</body>
</html>
