@{
    ViewBag.Title = "Distribuidora Limena - Survey";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Levantamiento de Información en clientes Distribuidora Limeña</strong><br /><br />
                                <p>Por favor seleccione la(s) opción(es) que aplique a cada cliente</p>
                            </div>
                            <div class="card-header">
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="select" class=" form-control-label">Seleccione cliente</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="select" id="select_customers" class="form-control">


                                        </select>
                                    </div>
                                </div> 
                            </div>
                            <div class="card-body card-block">


                                <div class="row form-group">
                                    <strong class="col-lg-12">Punto 1: Servicios Disponibles (Opción multiple).</strong>
                                    <p class="col-lg-12">De acuerdo con las secciones o departamentos que actualmente tiene esta tienda, a continuación, seleccione cuáles de las siguientes categorías se encuentran disponibles:</p>
                                    
                                    <div class="col col-md-12">
                                        <br />
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <label for="checkbox1" class="form-check-label ">
                                                    <input type="checkbox" id="chk1" name="checkbox1" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Grocery – Dry product" class="form-check-input">Grocery – Dry product
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox2" class="form-check-label ">
                                                    <input type="checkbox" id="chk2" name="checkbox2" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Dairy Section" class="form-check-input">Dairy Section
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox3" class="form-check-label ">
                                                    <input type="checkbox" id="chk3" name="checkbox3" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Frozen Section" class="form-check-input">Frozen Section
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox4" class="form-check-label ">
                                                    <input type="checkbox" id="chk4" name="checkbox4" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Produce" class="form-check-input">Produce
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox5" class="form-check-label ">
                                                    <input type="checkbox" id="chk5" name="checkbox5"  data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Meat Department" class="form-check-input">Meat Department
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox6" class="form-check-label ">
                                                    <input type="checkbox" id="chk6" name="checkbox6"  data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Restaurant" class="form-check-input">Restaurant
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox7" class="form-check-label ">
                                                    <input type="checkbox" id="chk7" name="checkbox7" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Money Services" class="form-check-input">Money Services
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox8" class="form-check-label ">
                                                    <input type="checkbox" id="chk8" name="checkbox8" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="OTC (Medicinas)" class="form-check-input">OTC (Medicinas)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox9" class="form-check-label ">
                                                    <input type="checkbox" id="chk9" name="checkbox9" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Kitchenware (Utensilios de cocina)" class="form-check-input">Kitchenware (Utensilios de cocina)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox10" class="form-check-label ">
                                                    <input type="checkbox" id="chk10" name="checkbox10" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Ethnic Souvenirs"  class="form-check-input">Ethnic Souvenirs
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox11" class="form-check-label ">
                                                    <input type="checkbox" id="chk11" name="checkbox11" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Clothing" class="form-check-input">Clothing
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox12" class="form-check-label ">
                                                    <input type="checkbox" id="chk12" name="checkbox12" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Jewelry" class="form-check-input">Jewelry
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox13" class="form-check-label ">
                                                    <input type="checkbox" id="chk13" name="checkbox13" data-seccion="1" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Cellphone store"  class="form-check-input">Cellphone store
                                                </label>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <strong class="col-lg-12">Punto 2: Tamaño de la Tienda (Selección única).</strong>
                                    <p class="col-lg-12">Con base en los siguientes parámetros y ejemplos de tamaño, clasifique esta tienda en uno de los rangos disponibles:</p>
                                    
                                    <div class="col-12 col-md-9">
                                        <br />
                                        <select name="select" id="select_size" class="form-control">
                                            <option value="0">Seleccione...</option>
                                            <option value="ss1">- 3.000 ft </option>
                                            <option value="ss2">+ 3.000 ft</option>
                                            <option value="ss3">+ 5.000 ft</option>
                                            <option value="ss4">+ 10.000 ft</option>
                                            <option value="ss5">+ 20.000 ft</option>
                                        </select>
                                        <br />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <strong class="col-lg-12">Punto 3: Etnia (Opción multiple).</strong>
                                    <p class="col-lg-12">Seleccione las opciones que apliquen a la mayor concentración de los clientes y su país de origen en la tienda:</p>

                                    <div class="col col-md-12">
                                        <br />
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <label for="checkbox14" class="form-check-label ">
                                                    <input type="checkbox" id="chk14" name="checkbox14" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="El Salvador" class="form-check-input">El Salvador
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox15" class="form-check-label ">
                                                    <input type="checkbox" id="chk15" name="checkbox15" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Guatemala" class="form-check-input">Guatemala
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox16" class="form-check-label ">
                                                    <input type="checkbox" id="chk16" name="checkbox16" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Costa Rica" class="form-check-input">Costa Rica
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox17" class="form-check-label ">
                                                    <input type="checkbox" id="chk17" name="checkbox17" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Colombia"  class="form-check-input">Mexico
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox18" class="form-check-label ">
                                                    <input type="checkbox" id="chk18" name="checkbox18" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Colombia" class="form-check-input">Colombia
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox19" class="form-check-label ">
                                                    <input type="checkbox" id="chk19" name="checkbox19" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Peru" class="form-check-input">Peru
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox20" class="form-check-label ">
                                                    <input type="checkbox" id="chk20" name="checkbox20"  data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Venezuela" class="form-check-input">Venezuela
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox21" class="form-check-label ">
                                                    <input type="checkbox" id="chk21" name="checkbox21" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Cuba" class="form-check-input">Cuba
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox22" class="form-check-label ">
                                                    <input type="checkbox" id="chk22" name="checkbox22" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Puerto Tico" class="form-check-input">Puerto Tico
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox23" class="form-check-label ">
                                                    <input type="checkbox" id="chk23" name="checkbox23" data-seccion="3" data-secciondescripcion="Opcion multiple"  data-descripcionitem="Honduras" class="form-check-input">Honduras
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="card-footer">
                                <div>
                                    <input id="send_demo" type="submit" value="Enviar" class="btn btn-lg btn-info btn-block" />

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                  
                        <p>Copyright © 2018 Distribuidora Limena Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
			<!-- modal static -->
			<div class="modal fade" id="staticModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
			 data-backdrop="static">
				<div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <form class="form-signin" method="post" id="form">
                            <div class="modal-header">

                                <h5 class="modal-title" id="staticModalLabel">Inicio de sesion</h5>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="modal-body">
                                Correo:
                                <input type="email" class="form-control" name="usuariocorreo" id="usuariocorreo" required />
                                Contrasena:
                                <input type="password" class="form-control" name="password" id="password" required />

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info">Iniciar</button>
                            </div>
                         </form>
                    </div>
				</div>
			</div>
			<!-- end modal static -->
<!-- Modal saving -->
<div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="modal_demoform_saving" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-md-offset-4 col-md-12 text-center">
                    <div id="loadingmessage" class="col-md-offset-4 col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader.gif" />
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!--END MODAL-->